@import 'styles/variables.scss';

.list {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;
}

.item-content {
    &--active {
        color: $hover-color;
    }

    &:hover,
    &:focus-visible {
        .text {
            gap: $spacing-2;
        }
    }
}

.text {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: $spacing-1;
    transition: gap $base-transition-duration ease;
}
