@use 'scss-reset/reset';

@import 'styles/variables.scss';

body {
    position: relative;
    font-family: 'Roboto';
    background-color: $background-color;
    color: $text-color;
}

a {
    color: $text-color;
    text-decoration: none;
}

.red-color {
    color: $red-300 !important;
}

.primary-color {
    color: $primary-color !important;
}

.white-color {
    color: $white-color !important;
}
