@import 'styles/variables.scss';

.toolbar {
    min-height: 4rem;
    display: flex;
    align-items: center;
}

.toggle-button {
    display: none;

    @media (max-width: $screen-md) {
        display: flex;
    }
}
