@import 'styles/variables.scss';

.link {
    display: flex;
    flex-direction: column;

    &:hover,
    &:focus {
        .title,
        .subtitle {
            color: $hover-color;
        }
    }
}

.title,
.subtitle {
    font-weight: bold;
    line-height: 1em;
    color: $text-color;
    transition: color $base-transition-duration;
}

.subtitle {
    text-transform: uppercase;
}
