@import 'styles/variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: $default-spacing-md;
    padding-block: $default-spacing-sm;

    // border-bottom: 1px solid $violet-300;

    @media (max-width: $screen-md) {
        padding-inline: $default-spacing-sm;
        padding-block: $default-spacing-xs;
    }
}
