@import 'styles/variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: $default-spacing-lg;
    padding-block: $default-spacing-sm;

    @media (max-width: $screen-sm) {
        padding-inline: $default-spacing-md;
    }
}

.toolbar-toggle-button {
    padding-left: 0;
}

.account-popover {
    padding-right: 0;
}
